:root {
  --primary-color: #007c62;
  --primary-dark: #006852;
  --secondary-color: #00dcae;
}
body {
  margin: 0;
  background-color: #f1f1f1;
  padding: 0;
  color: #333;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: "Barlow Condensed", Arial, Helvetica, sans-serif;
}
/** Header **/
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  background: #2d2d2d;
  padding: 20px;
  color: #fff;
}
header a {
  color: var(--secondary-color);
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
.fa-bowl-food {
  margin-right: 10px;
}
#nav {
  display: flex;
  align-items: center;
}
a#favs {
  margin-right: 40px;
}
.switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  border: 2px solid #606060;
  background-color: #606060;
}
.switch input:focus + .slider {
  border: 2px solid var(--secondary-color);
}
.slider:before {
  position: absolute;
  bottom: 2px;
  left: 4px;
  transition: 0.4s;
  background-color: white;
  width: 26px;
  height: 26px;
  content: "";
}
input:checked + .slider:before {
  transform: translateX(24px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.fa-moon,
.fa-sun {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.4s;
  pointer-events: none; /* Ensure icons do not interfere with clicking */
  font-size: 18px;
}
.fa-moon {
  right: 7px;
  opacity: 1;
}
.fa-sun {
  left: 7px;
}
input:checked + .slider .fa-sun {
  opacity: 1;
}
header button {
  border: none;
  background-color: unset;
  color: var(--secondary-color);
  font-size: 1.5rem;
}
header button:focus,
header button:focus-visible {
  outline: none;
  box-shadow: none;
  text-shadow: 0 0 10px var(--secondary-color);
}

/** Main **/
h1 {
  margin: 30px 20px;
  font-style: normal;
  line-height: 1.2;
  font-family: "Shadows Into Light", "Comic Sans MS", Arial, Helvetica,
    sans-serif;
  text-align: center;
}
main {
  min-height: 90vh;
}
b {
  font-weight: 500;
}
img {
  border-radius: 4px;
  max-width: 100%;
}
a {
  transition: 0.3s;
  color: var(--primary-color);
}
a:hover {
  color: #009a7a;
}
a:focus,
a:focus-visible,
button.load-more:focus,
button.load-more:focus-visible {
  outline: var(--primary-color) solid 2px;
  box-shadow: 0 0 10px var(--secondary-color);
}
a:not(.recipe):focus,
a:not(.recipe):focus-visible {
  border-radius: 3px;
  text-decoration: none;
}
button.favorite {
  position: relative;
  top: -5px;
  cursor: pointer;
  margin: 0 20px;
  border: none;
  background: none;
  color: var(--primary-color);
  font-size: 2rem;
}
button.favorite:focus,
button.favorite:focus-visible {
  outline: none;
  text-shadow: 0 0 10px var(--secondary-color);
}
.loader {
  animation: loading 0.8s ease infinite;
  margin: 0 auto;
  border: 2px solid transparent;
  border-top: 2px solid var(--primary-color);
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.error {
  margin: 20px;
  text-align: center;
}

/** Recipe List **/
#recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
  margin: 0 auto;
  max-width: 1800px;
}
#recipes a {
  color: #000;
  text-decoration: none;
}
.recipe h2 {
  margin: 15px;
  font-style: normal;
  line-height: 1.2;
  font-family: "Shadows Into Light", "Comic Sans MS", Arial, Helvetica,
    sans-serif;
  text-align: center;
}
.recipe {
  transition: 0.3s;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  max-width: 312px;
  height: fit-content;
}
.recipe:hover,
.recipe:focus,
.recipe:active,
.recipe:focus-visible {
  transform: rotate(0deg) !important;
}
.load-more {
  display: block;
  transition: 0.3s;
  cursor: pointer;
  margin: 40px auto;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.load-more:hover {
  background-color: var(--primary-dark);
}

/** Recipe Details Page **/
.recipe-page {
  margin: 0 auto;
  max-width: 1366px;
}
.recipe-page img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.image-summary {
  margin: 40px 0;
}
.image-credit {
  margin: 0 20px;
  font-size: 0.8rem;
  text-align: center;
}
.recipe-page .summary {
  margin: 20px;
}
.recipe-page h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin: 20px 20px 0 20px;
  font-style: normal;
  font-family: "Shadows Into Light", "Comic Sans MS", Arial, Helvetica,
    sans-serif;
}
.recipe-page h2 .servings,
.recipe-page h2 .minutes {
  border-radius: 15px;
  background-color: #3d3d3d;
  padding: 0 13px;
  color: #fff;
  font-size: 1.2rem;
}
ul.diets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 0;
  margin: 20px 10px;
  padding: 0;
  list-style-type: none;
}
ul.diets li {
  border-radius: 17px;
  background-color: #626262;
  padding: 2px 12px 4px 12px;
  color: #fff;
  font-size: 1rem;
}
ul.ingredients-list,
ol.instructions {
  margin: 10px;
}
ul.ingredients-list li,
ol.instructions li {
  margin: 10px 0;
  line-height: 1.3;
}
ul.ingredients-list {
  margin: 0 0 0 30px;
  padding: 0;
  list-style-type: none;
}
.source {
  margin: 20px;
  font-size: 0.8rem;
  text-align: center;
}

/** Footer **/
footer {
  background-color: #2d2d2d;
  padding: 12px;
  color: #fff;
}
footer p {
  font-size: 0.9rem;
  text-align: center;
}
footer a {
  color: var(--secondary-color);
}

/** Media Queries **/
@media (max-width: 768px) {
  #nav {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 40px;
    z-index: 2;
    transition: 0.5s;
    margin-right: -220px;
    background-color: #000;
    padding: 24px;
    width: 160px;
  }
  #nav.open {
    margin-right: 0;
  }
}
@media (min-width: 769px) {
  header button {
    display: none;
  }
}
@media (min-width: 1024px) {
  .image-container {
    float: left;
    margin: 10px 55px 10px 20px;
  }
  .ingredients-instructions {
    display: flex;
    justify-content: flex-start;
    clear: both;
    gap: 55px;
    margin: 20px;
  }
  .ingredients-container {
    flex-shrink: 0;
    flex-basis: 30%;
  }
  ul.ingredients-list {
    margin: 0 0 0 20px;
  }
  ul.ingredients-list li {
    border-bottom: 1px solid #c1c1c1;
    padding: 0 12px 12px 12px;
  }
  [data-theme="dark"] ul.ingredients-list li {
    border-bottom: 1px solid #444;
  }
  ul.ingredients-list li:last-child {
    border-bottom: none;
  }
}

/** Dark Mode **/
[data-theme="dark"] body {
  background-color: #202020;
  color: #f2f2f2;
}
[data-theme="dark"] a {
  color: #009a7a;
}
[data-theme="dark"] header a {
  color: var(--secondary-color);
}
